<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Archivo-Regular.ttf</string>
		<string>Archivo-Medium.ttf</string>
		<string>Archivo-SemiBold.ttf</string>
		<string>Archivo-Bold.ttf</string>
		<string>Archivo-ExtraBold.ttf</string>
		<string>Archivo-Black.ttf</string>
		<string>IBMPlexSansCondensed-Regular.ttf</string>
		<string>IBMPlexSansCondensed-Medium.ttf</string>
		<string>IBMPlexSansCondensed-SemiBold.ttf</string>
		<string>IBMPlexSansCondensed-Bold.ttf</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
</dict>
</plist>
